* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* header */
header {
  align-items: center;
  background-color: #C4C4C4;
  display: flex;
  justify-content: space-between;
  padding-right: 3em;
}

.logo {
  height: 8em;
  width: 8em;
}

.search {
  background-image: url("assets/search.svg");
  background-repeat: no-repeat;
  border-radius: 3px;
  height: 5em;
  outline-color: #F2A22C;
  padding-left: 4em;
  width: 45em;
}

button {
  background-color: #F2A22C;
  border: 1px solid black;
  cursor: pointer;
  height: 3em;
  margin-right: 3em;
  padding: 1em;
}

button:hover {
  border: solid 2px #FFF;
  filter: brightness(120%);
}

main {
  display: flex;
  flex-grow: 1;
}

.welcome-message {
  margin-bottom: 1em;
}

/* Aside */
aside {
  background-color: #587A8A;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 15em;
}

/* Recipe-container */
.recipes-container {
  background-color: #F3F6F7;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 1em;
}

/* Recipe-card */
.recipe-card {
  background-color: #FFEECC;
  border: 2px solid #587A8A;
  display: inline-block;
  height: 14em;
  margin: .5em;
  width: 24em;
}

.recipe-buttons {
  display: flex;
  justify-content: space-around;
  padding: .2em;
}

.recipe-image-container {
  display: flex;
  justify-content: center;
}

.recipe-image {
  width: 14em;
}

.recipe-title-container {
  display: flex;
  justify-content: center;
}

.recipe-button {
  background-color: #F2A22C;
  border: 1px solid black;
  cursor: pointer;
  height: 3em;
  margin: 0em;
  padding: .5em;
}
